@import 'globals';
.about-me 
{
	display:flex; 
	flex-direction:row; 
	justify-content:flex-start;
	align-items:flex-start;
	width:100%; 
	padding:24px;
	h1
	{
		font-weight:900;
		font-size:48px;
		span:first-child
		{
			color:$strawberry-red;
		}
		span:last-child
		{
			color:$healthy-green;
		}	
	}
	.profile-image
	{
		display:flex; 
		flex-shrink:0;
		width:256px; 
		height:256px; 
		border-radius:50%;
		-webkit-border-radius:50%; 
		overflow:hidden !important;
		img
		{
			width:auto; 
			height:auto;
		}
	}
	.bio
	{
		display:flex;
		flex-direction:column;
		padding-left:24px; 
		padding-right:24px;
		label
		{
			margin-bottom:12px;
		}
		h1 
		{
			margin-bottom:12px;
		}
		p
		{
			text-align:justify; 
			text-align-last:left;
			line-height:125%;
		}
		a
		{
			color:$orange;
			font-weight:500; 
			font-size:21px; 
			margin-top:21px;
			width:100%; 
			text-align:right;
		}
	}
}
.about-me.big
{
	display:flex; 
	flex-direction:column; 
	justify-content:center;
	align-items:flex-start;
	.profile-image 
	{
		width:320px; 
		height:320px;
	}
	&>h1 
	{
		color:$orange;
		padding-bottom:36px;
	}
	label
	{
		padding-top:36px;
	}
}
@media screen and (max-width:1220px)
{
	.about-me 
	{
		display:flex; 
		flex-direction:column;
		align-items:center; 
		h1
		{
			font-size:36px;
		}
		.profile-image
		{
			img
			{
			}
		}
		.bio
		{
			label
			{
				padding-top:24px;
			}
			h1 
			{
			}
			p
			{
			}
			a
			{
			}
		}
	}
	.about-me.big
	{
		.profile-image 
		{
		}
		&>h1 
		{
		}
		label
		{
		}
	}
}