@import 'globals';
.highlights
{
	overflow:hidden;
	display:flex; 
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:center;
	form
	{
		width:100%; 
		// height:120px;
		display:flex; 
		flex-direction:row; 
		justify-content:space-between;
		align-items:center; 
		flex-wrap:wrap;
		margin-top:21px;
		background:url("https://static.pexels.com/photos/9033/grapes-large.jpg");
		background-size:cover; 
		.overlay
		{
			height:100%; 
			width:100%; 
			position:absolute;
			top:0; 
			left:0; 
			background:rgba(33,33,33,.56);
			mix-blend-mode:multiply;
		}
		h2,
		p
		{
			padding:24px; 
			padding-bottom:0;
			color:white;
			width:100%; 
		}
		div
		{
			width:100%; 
		}
		p
		{
			max-width:480px;
			line-height:125%;
		}
		input 
		{
			font-size:21px; 
			padding:18px; 
			background-color:#ffffff;
			color:#424242;
			margin:24px;
			opacity:.86;
			transition:opacity .3s ease; 
			&:hover,
			&:focus
			{
				opacity:1;
			}
		}
		input:nth-of-type(2)
		{
			margin:24px 0;
		}
		[type="submit"]
		{
			background:$strawberry-red; 
			color:white;
		}
	}
	.highlights-link 
	{
		position:absolute; 
		top:0; 
		left:0;
		height:100%; 
		width:100%; 
	}
	.monthly-challenge
	{
		height:315px; 
		width:100%;
		flex-shrink:0; 
		h4
		{
			position:absolute; 
			top:18px;
			left:18px; 
			color:#ffffff; 
			font-size:24px; 
			text-transform:uppercase;  
			z-index:1;
		}
		img
		{
			z-index:0;
		}
	}
	.programs
	{
		width:100%; 
		display:flex; 
		flex-direction:row; 
		justify-content:space-between; 
		align-items:center;
		flex-wrap:wrap;
		.program
		{
			height:315px; 
			width:calc(50% - 12px);
			margin-top:24px;
			overflow:hidden;
			position:relative; 
			h4
			{
				position:absolute; 
				top:18px;
				left:18px; 
				color:#ffffff; 
				font-size:24px; 
				text-transform:uppercase;  
				z-index:1;
			}
			img
			{
				z-index:0;
			}
		}
		.program:first-child
		{
			margin-right:12px;
		}
		.program:last-child
		{
			margin-left:12px;
		}
	}
	.program.products, 
	.program.infographics
	{
		height:120px;
		.image-overlay
		{
			height: 100%; 
			width:100%; 
			top:0; 
			left:0; 
			position:absolute; 
			background-color:rgba(33,33,33,.6);
		}
		h2
		{
			font-size:36px; 
			color:white; 
			padding:24px;
		}
	}
}
@media screen and (max-width:1220px)
{
	.highlights 
	{
		form
		{
			width:100%; 
			// height:120px;
			display:flex; 
			flex-direction:column; 
			justify-content:center;
			align-items:space-around; 
			flex-wrap:wrap;
			margin-top:21px;
			background:url("https://static.pexels.com/photos/9033/grapes-large.jpg");
			background-size:cover; 
			.overlay
			{
				height:100%; 
				width:100%; 
				position:absolute;
				top:0; 
				left:0; 
				background:rgba(33,33,33,.56);
				mix-blend-mode:multiply;
			}
			h2,
			p
			{
				padding:24px; 
				padding-bottom:0;
				color:white;
				width:100%; 
			}
			div
			{
				width:100%; 
			}
			p
			{
				max-width:480px;
				line-height:125%;
			}
			input 
			{
				font-size:21px; 
				padding:18px; 
				background-color:#ffffff;
				color:#424242;
				margin:24px;
				opacity:.86;
				transition:opacity .3s ease; 
				&:hover,
				&:focus
				{
					opacity:1;
				}
			}
			input:nth-of-type(2)
			{
				margin:24px 0;
			}
			[type="submit"]
			{
				background:$strawberry-red; 
				color:white;
			}
		}
		.programs
		{
			.program,
			.program:first-child,
			.program:last-child
			{
				width:100%; 
				padding-left:0; 
				padding-right:0;
				margin-left:0; 
				margin-right:0;
			}
		}
	}
}