@import 'globals';

.navbar 
{
	font-family: 'Nanami HM';
	font-weight:300;
	width:100%; 
	padding-top:36px; 
	display:flex; 
	flex-direction:row; 
	justify-content:space-between; 
	align-items:flex-start;
	position:fixed;
	top:0; 
	left:0;
	img
	{
		padding-left:36px; 
		padding-top:24px;
	}
	.menu
	{
		padding-right:36px; 
		padding-top:24px;
		display:flex;
		flex-direction:column; 
		justify-content:flex-end; 
		align-items:flex-end; 
		a
		{
			color:$strawberry-red; 
			font-family: 'Nanami HM';
			font-size:24px;
			transition: color .3s ease; 
		}
		a:not(:first-of-type)
		{
			padding-top:18px;
		}
		a:hover,
		a:focus 
		{
			color:$healthy-green;
		}
	}
}
	#menu-button-container 
	{
		height:48px; 
		width:48px; 
		position:absolute; 
		top:48px; 
		right:24px;
		display:flex; 
		flex-direction:column;
		z-index:100;
		z-index:1000;
		opacity:0; 
		pointer-events:none;
	}
	#menu-button 
	{
		height:48px; 
		width:48px; 
		position:relative; 
		display:flex; 
		flex-direction:column;
		div 
		{
			background-color:$orange;
			height:4px;
			width:100%; 
			position:absolute;
		}
		div:first-of-type
		{
			top:18px;
		}
		div:last-of-type
		{
			bottom:18px;
		}
	}
@media screen and (max-width:1220px)
{
	#menu-button-container 
	{
		pointer-events:all; 
		opacity:1;
		z-index:100000;
	}
	.navbar 
	{
			position:absolute;
		.navbar-logo
		{
		}
		z-index:1000;
		img
		{
		}
		.menu
		{
			display:flex; 
			flex-direction:column; 
			justify-content:center; 
			align-items:center; 
			position:fixed; 
			height:100%; 
			width:100%; 
			top:0; 
			left:100%;
			z-index:10000;
			background:rgba(255,255,255,.92);
			opacity:0;
			a
			{
				font-size:36px;
			}
			a:not(:first-of-type)
			{
			}
			a:hover,
			a:focus 
			{
			}
		}
	}
}